.geral{
    background-color: var(--primary-color);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    max-width: 1200px;
    min-width: auto;
    margin: 0 auto;
    background-color: var(--primary-color);
    margin-top: -100px;
}

.titulo{
    font-family: 'PROXON', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
}

.texto{
    font-family: 'Gotham Light', sans-serif;
    font-size: 18px;
    width: 500px;
    line-height: 22px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .container{
        height: auto;
        padding: 50px;
        /*flex-direction: column-reverse;*/
    }

    .titulo{
        font-size: 40px;
        
    }

    .texto{
        text-align: center;
        /*font-size: 14px;
        margin-bottom: 100px;
        margin-top: -100px;*/
    }

    .container{
        justify-content: center;
        flex-wrap: wrap;
    }
}