.container{

    min-height: 100vh;
    background-color: var(#fff);
    width: auto;
    max-width: 1200px;
    min-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: "PROXON", sans-serif;
    font-size: 55px;
    font-weight: 600;
    margin-top: -100px;
    color: var(--secondary-color);
}

.depositions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Gotham Light', sans-serif;
}

.falas{
    border-radius: 15px;
    background: linear-gradient(to bottom, #fff, #fff); /* Gradiente de cores na horizontal */
    background-size: 100% 200%;
    background-position: 0 0;    
    /*box-shadow: 5px 5px 5px rgb(221, 220, 220);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 30px;
}

.falas h1{
    color: var(--primary-color);
    font-family: 'Gotham Book', sans-serif;
    width: 350px;
    text-align: center;
    font-size: 20px;
}

.falas p{
    width: 400px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .title{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .falas{
        margin-top: -20px;
    }

    .falas h1{
        text-align: justify;
        width: 300px;
        margin-top: 25px;
    }

    .falas p{
        width: 300px;
        text-align: justify;
    }
    .depositions{
        flex-direction: column;
    }
}