.footer{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Book';
    width: 100%;
    height: 8vh;
    background-color: var(--primary-color);
    letter-spacing: 2px;
    font-size: 16px;
}