/*config CSS globals*/
body{
  padding: 0;
  margin: 0;
}

/*definition the fonts*/
@font-face {
  font-family: 'PROXON';
  src: url('../../fonts/proxon.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../../fonts/GothamMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../../fonts/GothamLight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../../fonts/GothamBook.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../../fonts/Gotham-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

/*definition the colors*/
:root {
  --primary-color: #0063cf;
  --secondary-color: #062140;
  --accent-color: #00baeb;
  /* Define more colors as needed */
}